body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1;
  margin-top: 0;
}

select,
input[type="text"] {
  width: 120px;
  box-sizing: border-box;
}

.asterisk {
  color: red;
}

select,
button {
  background-color: white;
}

select,
button,
input {
  border: 1px solid black;
}

.short_band, .long_band {
  display: inline-block;
  width: 8px;
  border-left: 0.05em solid black;
  border-right: 0.05em solid black;
}

.short_band {
  height: 32.9px;
  margin: 11px 0px;
}

.long_band {
  height: 41.1px;
  margin: 7px 3px;
}

.graphics {
  width: 300px;
  background-image: url("images/resistor.svg");
  background-size: cover;
  user-select: none;
}

.spacer {
  height: 1em;
}

.mandatory {
  border-color: red;
}

.hidden {
  display: none;
}

.message {
  margin-left: 10px;
}

#exponent {
  font-size: 0.8em;
  vertical-align: super;
  border: none;
  width: 4ch;
  margin-left: -0.4em;
}

@media (max-width: 600px) {
  select,
  button,
  input[type="text"] {
    width: 100%;
  }

  .graphics {
    margin: 1em auto;
  }

  h1,
  #text {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  select,
  button,
  input {
    color: white;
    background-color: black;
  }

  select,
  button,
  input {
    border-color: white;
  }
}

@media print {
  .graphics {
    print-color-adjust: exact;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
}

@media (max-height: 500px) {
  .container {
    flex-direction: row;
  }
}
