body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1;
  margin-top: 0;
}

select, input {
  width: 120px;
}

span, input
{
  color: red;
}

select, button
{
  background-color: white;
}

.short_band {
  display: inline-block;
  width: 8px;
  height: 32px;
  margin: 11px 0px;
  border: 1px solid black;
}

.long_band {
  display: inline-block;
  width: 8px;
  height: 40px;
  margin: 7px 3px;
  border: 1px solid black;
}

.test
{
  width: 300px;
  background-image: url("images/resistor.svg");
  background-size: cover;
  user-select: none;
}

@media (max-width: 600px) {
  select, button {
    width: 100%;
  }

  .test {
    margin: 0 auto;
  }

  h1, #text
  {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }

  select, button, input {
    color: #c9d1d9;
    background-color: #0d1117;
  }
}
