body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1;
  margin-top: 0;
}

select,
input[type="text"],
#resistance_input {
  width: 15ch;
  box-sizing: border-box;
}

.asterisk {
  color: red;
}

select,
button {
  background-color: white;
}

select,
button,
input {
  border: 1px solid black;
}

noscript {
  display: block;
  background-color: #ffdddd;
  color: #a00;
  border: 1px solid #a00;
  padding: 15px;
  margin: 20px;
  position: fixed;
  bottom: 0px;
}

.short_band,
.long_band {
  display: inline-block;
  width: 8px;
  border-left: 0.05em solid black;
  border-right: 0.05em solid black;
  position: absolute;
}

.short_band {
  height: 16.5%;
  margin-top: 3.65%;
}

.long_band {
  height: 20.7%;
  margin-top: 2.25%;
}

.graphics {
  width: 300px;
  height: 200px;
  background-image: url("images/resistor.svg");
  background-size: cover;
  user-select: none;
  position: relative;
}

.spacer {
  height: 1em;
}

.mandatory {
  border-color: red;
}

.hidden {
  display: none;
}

.message {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
}

#exponent {
  font-size: 0.8em;
  vertical-align: super;
  border: none;
  width: 4ch;
  margin-left: -0.4em;
}

@media (max-width: 500px) {
  select,
  button,
  input[type="text"],
  #resistance_input {
    width: 100%;
  }

  .graphics {
    margin: 1em auto;
  }

  h1,
  #text {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  select,
  button,
  input {
    color: white;
    background-color: black;
  }

  select,
  button,
  input {
    border-color: white;
  }
}

@media print {
  .graphics {
    print-color-adjust: exact;
  }
}

@media (max-height: 500px) and (min-width: 501px) {
  .container {
    flex-direction: row;
  }
}
